<h3>IP Address Management System</h3>
<a class="float-right" [routerLink]="['/ip/add']">
    <button type="button" class="btn btn-primary">Add</button>
  </a>
<table class="table">
    <thead>
      <tr> 
        <th>IP Address</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ip_addresses; let i = index" [attr.data-index]="i">
        <td> {{data.ip_address}}</td>
        <td> {{data.description}}</td>
        <td>
            <a [routerLink]="['/ip/edit/', data.id]">
                <button type="button" class="btn btn-primary">Edit</button>
            </a>
        </td>
      </tr>
    </tbody>
  </table>
<ul>
    
</ul>
<div>
    <button class="btn btn-danger" (click)="logout()" [disabled]="loading">Logout</button>
</div>