<div class="container">
  <div class="row">
    <div class="col-md">
<h3>Audit Trail</h3>

<a [routerLink]="['/']">
  <button type="submit" class="btn btn-primary col-12">Back</button>
</a>
<div *ngIf="audit_trail?.length;  else noDataFound">
<table class="table table-responsive">
    <thead>
      <tr> 
        <th>Description</th>
        <th>Action Made</th>
        <th>IP Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of audit_trail; let i = index" [attr.data-index]="i">
        <td> {{data.description}}</td>
        <td> {{data.action_made}}</td>
        <td> {{data.ip_address}}</td>
      </tr>
    </tbody>
</table>
</div>
<ng-template #noDataFound>
   No Data Found
</ng-template>

</div>