<div class="container">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm">
        <h2 class="text-center">Add IP Address</h2>
        <form [formGroup]="ipForm" (ngSubmit)="addIP()">
        
        <label>IP Address </label>
        <input type="text" formControlName="ip_address" class="form-control"/>

        <label>Description </label>
        <input type="text" formControlName="description" class="form-control"/>

        <button type="submit" [disabled]="ipForm.invalid" class="btn btn-success mt-2 col-12">Add</button>
        <a [routerLink]="['/']">
        <button type="submit" class="btn btn-primary mt-2 col-12">Back</button>
        </a>
        </form>
    </div>
    <div class="col-sm"></div>
</div>